.img-container {
    position: relative;
    text-align: left;
}
img {
    cursor: pointer;
    width: 100%;
}
.img-container .mat-card-header-text {
    margin: 0 !important;
}

.full-width {
    width: 100%;
}

.mat-card-actions {
    margin: 0;
}